connexion == 2.6.0
python_dateutil >= 2.7
setuptools >= 21.0.0
enforce_typing
eth_utils >= 1.10.0
artifacts
eth_account
web3 >= 5.19.0
json-sempai >= 0.4.0
scipy >= 1.7.3
flask_swagger >= 0.2.14
flask
ocean_lib >= 0.8.5
ocean-contracts >=0.6.9
matplotlib >= 3.5.1
azure
